<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="../housedetailinfo/housedetailinfo.css" rel="styleSheet"
	type="text/css" />
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="../js/laydate/laydate.js"></script>
<script src="../js/jquery.min.js"></script>
</head>
<body>
<div id="house-typeandtime" class="house_head">
		<select id="house_type" class="tr-head">
			<div th:each="singleHouse:${houseTypes}">
				<option name="houseType" th:value="${singleHouse.house_type_id}"
					th:text="${singleHouse.house_type_name}" id="house_type_id">
				</option>				
            </div>
      </select>      
			<label th:text="${date.startTime}" id="startTime" class="tr-head"></label>
			<label th:text="${date.endTime}" id="endTime" class="tr-head"></label>
			<button th:onclick="queryTypeAndTime()" class="tr-head">查询</button>	 	
	</div>
	<div id="houseContext">
		<div th:each="singleType : ${houseTypes}" id="house_stead">
			<div id="house-show">
<img th:src="${singleType.house_type_img}">
			</div>
			<div id="house-info">
				<table id="house-table">
					<tr class="tr-info">
						<td class="td-title">类型：</td>
						<td th:text="${singleType.house_type_name}"></td>
					</tr>
					<tr class="tr-info">
						<td class="td-title">描述：</td>
						<td th:text="${singleType.house_type_msg}"></td>
					</tr>
					<tr class="tr-info">
						<td class="td-title">价格：</td>
						<td th:text="${singleType.house_type_price}"><span
							class="s-money"></span></td>
					</tr>
					<tr class="tr-info">
						<td class="td-title">数量：</td>
						<td th:text="${singleType.num}"></td>
						<td>
							<button type="button" class="btn btn-danger"
								th:onclick="order('[[${singleType.house_type_id}]]');">跳转到填写订单的页面，可以选择数量</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript">
laydate.render({
	elem : '#startTime', //选择input的id     
});
laydate.render({
	elem : '#endTime',
});
</script>
	<script src="../housedetailinfo/housedetailinfo.js"></script>
</body>
</html> 
