<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 <form action="">
    入住时间：<input type="text" id="startTime"/>
    退房时间：<input type="text" id="endTime"/>
    房间类型：<select>
         <option name="houseType" value="1">
                                      单人间
         <option/>
         <option name="houseType" value="2">
                                      双人间
         <option/>
         <option name="houseType" value="3">
                                      豪华大床房
         <option/>
         <option name="houseType" value="4">
                                      总统套房
         <option/>
       </select>
       <input type="button" />     
 </form> 
    
</body>
</html>