*{
	list-style: none;
	padding: 0;
	margin:0;
	    color: #333;
}
body{
	background-image:  url(../img/booknews.jpg);
}
#wrapper{
	margin-top:30px;
	display: block;
	width: 350px;
	height: 800px;
	margin: 0 auto;
	    background-color:gray;
	 
	    
}

#btn{
	background-color:#f90;
	color:white;
	font-weight:500px;
	border:none;
	border-radius:30px;
	font-size:1.1em;
	padding:2px 5px;
	margin-left:100px;
	margin-top:15px;
}
li{
	
	line-height: 45px;
	height: 45px;
	
}
