<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="../js/laydate/laydate.js"></script>
<script src="../js/jquery.min.js"></script>
<script type="text/javascript">
  function openwin() {
	window.open(
		"../chatroom.html","newwindow","height=400, width=500, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no")
	}
  function openmap() {
		window.open(
			"map.html","newwindow","height=400, width=500, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no")
		}
</script>
</head>
<body>
<input type="button" onclick="openwin()" value="打开聊天室"/> 
<input type="button" onclick="openmap()" value="打开百度地图"/>
	入住时间：
	<input type="datetime" id="starttime" /> 退房时间：
	<input type="datetime" id="endtime" />
	<button onclick="time()">查询</button>
	<script type="text/javascript">
		laydate.render({
			elem : '#starttime', //选择input的id     
		});
		laydate.render({
			elem : '#endtime',
		});
		function time() {
			var stime = $("#starttime").val();
			var etime = $("#endtime").val();
			alert(stime);
			location.href = "querytype.html?starttime=" + stime + "&endtime="
					+ etime + "";
		};
	</script>
</body>
</html>