<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>签到</title>
<meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="stylesheet" href="assets/css/app.css">
    
    
<link rel="stylesheet" href="layui/css/layui.css" media="all">
</head>
<body data-type="chart">
	<header class="am-topbar am-topbar-inverse admin-header">
		<div class="am-topbar-brand">
			<a href="javascript:;" class="tpl-logo">
			 <img src="assets/img/logo.png" alt="">
			</a>
		</div>
		 <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
             <li><a href="login.html" class="tpl-header-list-link"><span class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
            </ul>
        </div>
	</header>

	<div class="tpl-page-container tpl-page-header-fixed">
		<div class="tpl-left-nav tpl-left-nav-hover">
			<div class="tpl-left-nav-title">酒店系统</div>
			<div class="tpl-left-nav-list">
				<ul class="tpl-left-nav-menu">
					<li class="tpl-left-nav-item">
					<a href="javascript:;" class="nav-link tpl-left-nav-link-list"> 
					<i class="am-icon-home"></i> 
					<span>入住退房</span> 
					<i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate">
					</i></a>
						<ul class="tpl-left-nav-sub-menu">
							<li>
							<a href="form-line.html"> 
							<i class="am-icon-angle-right"></i> 
							<span>入住登记</span>
							</a> 
							<a href="employee-see.html"> 
							<i class="am-icon-angle-right"></i>
							<span>退房充值</span>
							</a></li>
						</ul></li>
					<li class="tpl-left-nav-item">
					<a href="javascript:;"class="nav-link tpl-left-nav-link-list"> 
					<i class="am-icon-bar-chart"></i> 
					<span>房间管理</span> 
					<i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
					</a>
						<ul class="tpl-left-nav-sub-menu">
							<li>
							<a href="main.html"> 
							<i class="am-icon-angle-right"></i>
								<span>剩余房源</span>
							</a> 
							<a href="tupian.html"> 
							<i class="am-icon-angle-right"></i> 
							<span>轮播管理</span>
							</a> 
							<a href="uplodaImg.html"> 
							<i class="am-icon-angle-right"></i>
							<span>更新图片</span>
							</a></li>
						</ul></li>
					<li class="tpl-left-nav-item">
						<!-- 打开状态 a 标签添加 active 即可   --> 
						<a href="javascript:;" class="nav-link tpl-left-nav-link-list "> 
						<i class="am-icon-table"></i> 
						<span>会员管理</span> <!-- 列表打开状态的i标签添加 tpl-left-nav-more-ico-rotate 图表即90°旋转  -->
						<i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right tpl-left-nav-more-ico-rotate"></i>
					</a>
						<ul class="tpl-left-nav-sub-menu">
							<li>
							<a href="HuiYuanZhuCe.html"> 
							<i class="am-icon-angle-right"></i> 
							<span>会员注册</span>
							</a> 
							<a href="commentMann.html"> 
							<i class="am-icon-angle-right"></i>
							<span>会员评论</span>
							</a></li>
						</ul>
					</li>
					<li class="tpl-left-nav-item">
					<a href="chart.html" class="nav-link tpl-left-nav-link-list"> 
					<i class="am-icon-wpforms"></i> 
					<span>查看账目</span>
					</a></li>
					<li class="tpl-left-nav-item">
					<a href="e-check.html" class="nav-link tpl-left-nav-link-list active"> 
					<i class="am-icon-key"></i> 
					<span>签到打卡</span>
					</a></li>
				</ul>
			</div>
		</div>

		<div class="tpl-content-wrapper">
			<ol class="am-breadcrumb">
				<li><a href="index.html" class="am-icon-home">首页</a></li>
				<li><a href="#">查看账目</a></li>
				<li class="am-active">账单</li>
			</ol>
			<div class="tpl-portlet-components">
			<fieldset class="layui-elem-field layui-field-title"
				style="margin-top: 50px;">
				<legend>签到打卡</legend>
			</fieldset>
				<form class="layui-form layui-form-pane" action="">
					<div class="layui-form-item">
						<label class="layui-form-label">姓名</label>
						<div class="layui-input-block">
							<select name="姓名" id="ename">
								<option value="" selected=true></option>
							</select>
						</div>
					</div>

					<div class="layui-form-item">
						<div class="layui-form-item">
							<label class="layui-form-label">当前时间</label>
							<div class="layui-input-block">
								<input type="text" name="当前时间" id="dtime" autocomplete="off"
									readonly="readonly" placeholder="请输入标题" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">打卡状态</label>
							<div class="layui-input-inline">
								<input type="text" name="打卡状态" readonly="readonly" id="estatus"
									autocomplete="off" class="layui-input">
							</div>
							<div class="layui-form-mid layui-word-aux">上班时间为9：00 am</div>
						</div>
					</div>

					<div class="layui-form-item layui-form-text">
						<label class="layui-form-label">备注</label>
						<div class="layui-input-block">
							<textarea placeholder="请输入内容" id="remarks" class="layui-textarea"></textarea>
						</div>
					</div>
					<div class="layui-form-item">
						<button class="layui-btn" id="check-sub">立即提交</button>
					</div>
				</form>
			</div>
		</div>
	</div>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/echarts.min.js"></script>
<script type="text/javascript" src="assets/js/ename.js"></script>
<script src="layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="assets/js/eform.js"></script>
<script type="text/javascript" src="assets/js/echeck.js"></script>
</body>
</html>